html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.day-mode{
    background-color: rgb(245, 230, 209); /*Day mode background color */
    color:rgb(57, 57, 57); /*Day mode text color*/

}

.dark-mode{
    background: rgb(43, 51, 55); /*Night mode background color */
    color: white;   /*night mode text color*/
}

.my-button {
    width: 200px;
    height: 40px;
    background-color: #4CAF50; /* Set the background color */
    border: none; /* Remove the border */
    color: white; /* Set the text color */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove the underline */
    display: flex; /* Make it an inline block */
    margin-left: auto;
    font-size: 14px; /* Set the font size */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); /* Add a subtle box shadow */
    transition: background-color 0.3s ease; /* Add a transition effect */
    
}
  
.my-button:hover {
    background-color: #3e8e41; /* Change the background color on hover */  
}


a,a:visited{
    color:white;
    text-decoration: none;
}

.me img{
    padding: 20px 20px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 50px;
    filter: drop-shadow(0px 0px 60px #737373)
}
.name1{
    text-align: center;
    margin: 0;
    padding: 0;
}

.name1 h1{
    color:#fabc2c;
    font-size: 5em;
    margin:0px;
}
.name1 h3{
    margin-top:0;
    margin-bottom: 40px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}
.nav-bar{
    display:flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fabc2c;
    padding: 10px;
    width: 100%;
}

.nav-item{
    font-size: larger;
    padding: 1em 3em;
}

.nav-item a:hover{
    filter: drop-shadow(0px 0px 5px rgb(30, 30, 30));

}
#high-nav a:hover{
    filter: drop-shadow(0px 0px  5px rgb(255, 255, 255));

}

.ig {
    color:#fabc2c;
}

.about {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
}

#high-nav a{
    color:rgb(43, 51, 55);
}


.footer-item a img{
    height: 40px;
    mix-blend-mode: screen;
    padding: 0px;
    margin: 0px 50px;
}
footer ul {
    display: inline-block;
    list-style-type: none;
}
.footer-links{
    display:flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}
.project-desc{
    margin: 0;
}

table{
    width: 100%;
    border: 1px solid;
}

th{
    font-size: 30px;
}

th, td{
    border:1px solid;
    padding:20px;
}

td > img{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.art-piece{
    text-align: center;
    margin-top: 50px;
}


.journey-vid, .trench-run > p{
    /*border:solid;*/
    max-width: 800px;
    margin: auto;
    margin-bottom:70px;

}

.art-title{
    color:rgb(255, 187, 0);
    font-size: 30px;
    margin-bottom: 10px;
}

.artwork-title{
    text-align: center;
    font-size: 24px;
}

.image-item{
    width: 500px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

form > label{
    font-size: 27px;
    text-decoration: underline;
}

form > input{
    margin: 10px;
    height: 40px;
    width: 400px;
    font-size: 24px;
}
